WebContent/wsdl/AccountServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="authenticate">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateResponse">
    <complexType>
     <sequence>
      <element name="authenticateReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUser">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="f_name" type="xsd:string"/>
      <element name="l_name" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="secret" type="xsd:string"/>
      <element name="last_login" type="xsd:date"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUserResponse">
    <complexType>
     <sequence>
      <element name="addUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateLastLogin">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateLastLoginResponse">
    <complexType>
     <sequence>
      <element name="updateLastLoginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchUser">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchUserResponse">
    <complexType>
     <sequence>
      <element name="fetchUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateLastLoginRequest">

      <wsdl:part element="impl:updateLastLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateRequest">

      <wsdl:part element="impl:authenticate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserResponse">

      <wsdl:part element="impl:addUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateResponse">

      <wsdl:part element="impl:authenticateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateLastLoginResponse">

      <wsdl:part element="impl:updateLastLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchUserRequest">

      <wsdl:part element="impl:fetchUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchUserResponse">

      <wsdl:part element="impl:fetchUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserRequest">

      <wsdl:part element="impl:addUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AccountServices">

      <wsdl:operation name="authenticate">

         <wsdl:input message="impl:authenticateRequest" name="authenticateRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticateResponse" name="authenticateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdl:input message="impl:addUserRequest" name="addUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUserResponse" name="addUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateLastLogin">

         <wsdl:input message="impl:updateLastLoginRequest" name="updateLastLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateLastLoginResponse" name="updateLastLoginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchUser">

         <wsdl:input message="impl:fetchUserRequest" name="fetchUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:fetchUserResponse" name="fetchUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AccountServicesSoapBinding" type="impl:AccountServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="authenticate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateLastLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateLastLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateLastLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AccountServicesService">

      <wsdl:port binding="impl:AccountServicesSoapBinding" name="AccountServices">

         <wsdlsoap:address location="http://localhost:8080/WebServices/services/AccountServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
